In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn import preprocessing

In [42]:
#reading dataframe
df = pd.read_csv('students_adaptability_level_online_education.csv')
df.head()
df.describe()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
count,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205
unique,2,6,3,2,2,2,2,3,2,3,3,2,3,3
top,Boy,21-25,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
freq,663,374,530,823,901,935,1004,878,695,775,840,995,1013,625

## Exploratory analysis

In [43]:
df.value_counts()
df.shape

(1205, 14)

In [44]:
df.columns

Index(['Gender', 'Age', 'Education Level', 'Institution Type', 'IT Student',
       'Location', 'Load-shedding', 'Financial Condition', 'Internet Type',
       'Network Type', 'Class Duration', 'Self Lms', 'Device',
       'Adaptivity Level'],
      dtype='object')

In [45]:
#rename columns
df.columns = ['Gender', 'Age', 'Education_level','Institution_Type','IT_Student', 'Location','Load_shedding',
                    'Financial_Condition','Internet_Type','Network_Type','Class_Duration',
                    'Self_Lms', 'Device','Adaptivity_Level']

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               1205 non-null   object
 1   Age                  1205 non-null   object
 2   Education_level      1205 non-null   object
 3   Institution_Type     1205 non-null   object
 4   IT_Student           1205 non-null   object
 5   Location             1205 non-null   object
 6   Load_shedding        1205 non-null   object
 7   Financial_Condition  1205 non-null   object
 8   Internet_Type        1205 non-null   object
 9   Network_Type         1205 non-null   object
 10  Class_Duration       1205 non-null   object
 11  Self_Lms             1205 non-null   object
 12  Device               1205 non-null   object
 13  Adaptivity_Level     1205 non-null   object
dtypes: object(14)
memory usage: 131.9+ KB

In [30]:
print(df.Gender.unique())
print(df.Age.unique())
print(df.Education_level.unique())
print(df.Institution_Type.unique())
print(df.IT_Student.unique())
print(df.Location.unique())
print(df.Load_shedding.unique())
print(df.Financial_Condition.unique())
print(df.Internet_Type.unique())
print(df.Network_Type.unique())
print(df.Class_Duration.unique())
print(df.Self_Lms.unique())
print(df.Device.unique())
print(df.Adaptivity_Level.unique())

['Boy' 'Girl']
['21-25' '16-20' '11-15' '26-30' '6-10' '1-5']
['University' 'College' 'School']
['Non Government' 'Government']
['No' 'Yes']
['Yes' 'No']
['Low' 'High']
['Mid' 'Poor' 'Rich']
['Wifi' 'Mobile Data']
['4G' '3G' '2G']
['3-6' '1-3' '0']
['No' 'Yes']
['Tab' 'Mobile' 'Computer']
['Moderate' 'Low' 'High']

In [35]:
f